.conn {
  font-size: 10px;
}

.conn.conn-sink {
  background: #fff4dc;
}

.conn.conn-source {
  background: #e4f6df;
}

.conn.conn-sink.media-flow-in {
  background: #ffde17;
}

.conn.conn-source.media-flow-out {
  background: #8af63e;
}

.endpoint {

}