.conn {
  font-size: 10px;
}

.conn.conn-sink {
  background: #fff4dc;
}

.conn.conn-source {
  background: #e4f6df;
}

.conn.conn-sink.conn-bright {
  background: #ffde17;
}

.conn.conn-source.conn-bright {
  background: #8af63e;
}

.conn i.fa {
  opacity: 0.4;
  font-size: 14px;
  padding-right: 8px;
}

.conn .media-state.media-state-bright {
  opacity: 1;
}

.endpoint {

}